* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-image: url(../img/fundo\ cronometro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    width: 100%;
    height: 4.5rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    color: white;
}


.a,
.li {
    text-align: center;
    color: white;
    display: inline;
    text-decoration: none;
    margin: 10px;
    position: relative;
    left: 0.5rem;
}

.a:hover,
.li:hover {
    transition: 0.5s;
    color: rgb(221, 90, 2);
}

li {
    text-align: center;
    color: white;
    display: inline;
    text-decoration: none;
    margin: 10px;
}

.agende {
    background-color: rgb(221, 90, 2);
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: none;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.agende:hover {
    background-color: rgb(206, 82, 0);
    transition: 0.5s;
    border-radius: 15px;
    padding: 11px;
    color: white;
    border: none;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.agende-mobile {
    display: none;
}


img {
    width: 80px;
    height: 80px;
}

.hamburguer {
    display: none;
    width: 35px;
    height: 25px;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
}

.hamburguer span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 3px;
    transition: 0.3s;

}

.hamburguer span:nth-child(1) {
    top: 0;
}

.hamburguer span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburguer span:nth-child(3) {
    bottom: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #000000;
}

body::-webkit-scrollbar-thumb {
    background: rgb(221, 90, 2);
    border-radius: 6px;
}


.meu-scroll::-webkit-scrollbar-track {
    background: darkgrey;
}

.meu-scroll::-webkit-scrollbar-thumb {
    background: green;
}

@media (max-width: 750px) {


    .hamburguer {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 2000;

    }

    body.blur::before {
        content: "";
        position: fixed;
        inset: 0;
        backdrop-filter: blur(8px);
        background: rgba(0, 0, 0, 0.4);

    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;
        overflow: hidden;
        background: rgb(20, 20, 20);
        transition: width .4s ease-in-out;
        pointer-events: none;
        display: flex;
        flex-direction: column;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 4.5rem;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        transition: background-color 0.5s;

    }

    .logonav {
        display: flex;
        align-items: end;
        margin-left: 10px;
    }

    .logonav img {
        width: 60px;
        height: 60px;
    }

    nav.active {
        clip-path: circle(1000px at 100% 0);
        pointer-events: all;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: start;
        transition: 0.4s;
    }

    .nav-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }

    .nav-list li {
        display: flex;
        justify-content: end;
        align-items: flex-start;
        margin: 20px;
    }

    .nav-list li a {
        opacity: 0;

        transform: translateX(50px);

        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    nav.active {
        transition: width 0.4s ease-in-out;
    }

    nav.active .nav-list li a {
        opacity: 1;
        transform: translateX(0);
    }

    nav.active .nav-list li:nth-child(1) a {
        transition-delay: 0.1s;
    }

    nav.active .nav-list li:nth-child(2) a {
        transition-delay: 0.2s;
    }

    nav.active .nav-list li:nth-child(3) a {
        transition-delay: 0.3s;
    }

    nav.active .nav-list li:nth-child(4) a {
        transition-delay: 0.4s;
    }

    nav.active .nav-list li:nth-child(5) a {
        transition-delay: 0.5s;
    }

    nav.active .nav-list li:nth-child(6) a {
        transition-delay: 0.6s;
    }

    nav.active .container-mobile-agende button {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        transition-delay: 0.7s;
    }

    .container-mobile-agende button {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    .agende {
        display: none;
    }

    .agende-mobile {
        margin-top: 30px;
        margin-left: auto;
        padding: 12px;
        width: 80%;
        background-color: rgb(221, 90, 2);
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        cursor: pointer;
        display: none;
    }

    .container-mobile-agende {
        display: flex;
        justify-content: end;
    }

    nav.active .agende-mobile {
        display: block;
    }
}

.hamburguer.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.hamburguer.active span:nth-child(2) {
    opacity: 0;
}

.hamburguer.active span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.container-contador {
    display: flex;
    justify-content: center;
}

.container {
    width: 360px;
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #292929;
    margin-top: 40px;
    margin-bottom: 7rem;
    border: solid 4px #ff6600;
}

h1 {
    margin-top: 5px;
    font-weight: 700;
    text-align: center;
    color: #ff6600;
}

p {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.control-panel {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

input {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ff6600;
    background-color: #000000;
    color: white;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1976d2;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.btnGenerate {
    background-color: #ff6600;
}

button.secondary {
    background: #fff;
    color: #ff6600;
    border: 1px solid #ff6600;
}

button.danger {
    background: #e74c3c;
}

button.hidden {
    display: none;
}

.status {
    display: flex;
    gap: 8px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot.done {
    background: #2ecc71;
}

.dot.current {
    background: #ff6600;
}

.timer-box {
    text-align: center;
}

#timer {

    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

#btnDone {
    background-color: #ff6600;
}

.rest-controls {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    height: 50%;
}

.img_icon_footer {
    text-align: center;
    margin-bottom: 20px;
}

.img_icon_footer img {
    width: 90px;
}

hr {
    border-color: #000000;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img_footer {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 55px;

}

.img_footer img {
    width: 45px;
    height: 45px;
    padding: 8px;
    background: #ffffff;
    border-radius: 15px;
    object-fit: contain;
}

.listaFooter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
}

.ulFooter,
.listaHorarios {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.ulFooter li,
.listaHorarios li {
    margin-bottom: 10px;
}

.aFooter {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.aFooter:hover {
    color: #ff6600;
}

.direitos {
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    padding-bottom: 20px;
    display: block;
    border-top: 1px solid #bbbbbb69;
    padding-top: 20px;
}

@media (max-width: 768px) {

    .container-contador {
        padding-top: 60px;
    }

    .container {
        width: 95%;
    }

    .listaFooter {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .ulFooter,
    .listaHorarios {
        text-align: center;
    }
}