* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nav {
    width: 100%;
    height: 4.5rem;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    color: white;
    background-color: black;
}

.a,
.li {
    text-align: center;
    color: white;
    display: inline;
    text-decoration: none;
    margin: 10px;
    position: relative;
    left: 0.5rem;
}

.a:hover,
.li:hover {
    transition: 0.5s;
    color: rgb(221, 90, 2);
}

li {
    text-align: center;
    color: white;
    display: inline;
    text-decoration: none;
    margin: 10px;
}

.agende {
    background-color: rgb(221, 90, 2);
    border-radius: 15px;
    padding: 10px;
    color: white;
    border: none;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.agende:hover {
    background-color: rgb(206, 82, 0);
    transition: 0.5s;
    border-radius: 15px;
    padding: 11px;
    color: white;
    border: none;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.agende-mobile {
    display: none;
}

img {
    width: 80px;
    height: 80px;
}

.hamburguer {
    display: none;
    width: 35px;
    height: 25px;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
}

.hamburguer span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: white;
    border-radius: 3px;
    transition: 0.3s;

}

.hamburguer span:nth-child(1) {
    top: 0;
}

.hamburguer span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburguer span:nth-child(3) {
    bottom: 0;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #000000;
}

body::-webkit-scrollbar-thumb {
    background: rgb(221, 90, 2);
    border-radius: 6px;
}


.meu-scroll::-webkit-scrollbar-track {
    background: darkgrey;
}

.meu-scroll::-webkit-scrollbar-thumb {
    background: green;
}

@media (max-width: 750px) {


    .hamburguer {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        z-index: 2000;

    }

    body.blur::before {
        content: "";
        position: fixed;
        inset: 0;
        backdrop-filter: blur(8px);
        background: rgba(0, 0, 0, 0.4);

    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 0;
        overflow: hidden;
        background: rgb(20, 20, 20);
        transition: width .4s ease-in-out;
        pointer-events: none;
        display: flex;
        flex-direction: column;
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 4.5rem;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        transition: background-color 0.5s;

    }

    .logonav {
        display: flex;
        align-items: end;
        margin-left: 10px;
    }

    .logonav img {
        width: 60px;
        height: 60px;
    }

    nav.active {
        clip-path: circle(1000px at 100% 0);
        pointer-events: all;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: start;
        transition: 0.4s;
    }

    .nav-list {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }

    .nav-list li {
        display: flex;
        justify-content: end;
        align-items: flex-start;
        margin: 20px;
    }

    .nav-list li a {
        opacity: 0;

        transform: translateX(50px);

        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    nav.active {
        transition: width 0.4s ease-in-out;
    }

    nav.active .nav-list li a {
        opacity: 1;
        transform: translateX(0);
    }

    nav.active .nav-list li:nth-child(1) a {
        transition-delay: 0.1s;
    }

    nav.active .nav-list li:nth-child(2) a {
        transition-delay: 0.2s;
    }

    nav.active .nav-list li:nth-child(3) a {
        transition-delay: 0.3s;
    }

    nav.active .nav-list li:nth-child(4) a {
        transition-delay: 0.4s;
    }

    nav.active .nav-list li:nth-child(5) a {
        transition-delay: 0.5s;
    }

    nav.active .nav-list li:nth-child(6) a {
        transition-delay: 0.6s;
    }

    nav.active .container-mobile-agende button {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        transition-delay: 0.7s;
    }

    .container-mobile-agende button {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }

    .agende {
        display: none;
    }

    .agende-mobile {
        margin-top: 30px;
        margin-left: auto;
        padding: 12px;
        width: 80%;
        background-color: rgb(221, 90, 2);
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 16px;
        cursor: pointer;
        display: none;
    }

    .container-mobile-agende {
        display: flex;
        justify-content: end;
    }

    nav.active .agende-mobile {
        display: block;
    }
}

.hamburguer.active span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.hamburguer.active span:nth-child(2) {
    opacity: 0;
}

.hamburguer.active span:nth-child(3) {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

img {
    width: 80px;
    height: 80px;
}

b {
    color: rgb(221, 90, 2);
    text-decoration: wavy;
    font-weight: 500;
}

.unidade-container {
    display: flex;
    width: 100%;
    padding: 40px;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.925);
}

.galeria {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.foto-principal {
    width: 650px;
    height: 430px;
    object-fit: cover;
    border-radius: 6px;
}

.miniaturas {
    display: flex;
    gap: 10px;
}

.miniaturas img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.miniaturas img:hover {
    opacity: 1;
    transform: scale(1.1);
}

.titulo-unidade {
    font-size: 38px;
    margin-bottom: 20px;
    color: white;
}

.endereco {
    display: flex;
    align-items: center;
    gap: 10px;

}

.endereco .icone {
    font-size: 26px;
    color: #ff6a00;
}

.endereco h2 {
    font-size: 22px;
    font-weight: 900;
}

.texto-endereco {
    margin: 10px;
    font-size: 15px;
    color: white;
}

.mapa iframe {
    border-radius: 6px;
}

.txt-horarios h2 {
    color: #ff6600;
    margin-left: 10px;
    font-size: 30px;

}

.txt-horarios p {
    color: white;
    margin-left: 10px;
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 10px;

}

.diferenciais h2 {
    color: #ff6600;
    margin-left: 10px;
    font-size: 30px;
    margin-left: 75px;
    margin-top: 25px;

}

.diferenciais ul li {
    color: white;
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 10px;
    padding-left: 60px;
    display: flex;

}

.info {
    display: flex;
    background-color: rgba(0, 0, 0, 0.925);

}

footer {
    background-color: #111;
    color: #fff;
    padding: 40px 20px;
    height: 50%;
}

.img_icon_footer {
    text-align: center;
    margin-bottom: 20px;
}

.img_icon_footer img {
    width: 90px;
}

hr {
    border-color: #000000;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.img_footer {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 55px;

}

.img_footer img {
    width: 45px;
    height: 45px;
    padding: 8px;
    background: #ffffff;
    border-radius: 15px;
    object-fit: contain;
}

.listaFooter {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 120px;
}

.ulFooter,
.listaHorarios {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.ulFooter li,
.listaHorarios li {
    margin-bottom: 10px;
}

.aFooter {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.aFooter:hover {
    color: #ff6600;
}

.direitos {
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    padding-bottom: 20px;
    display: block;
    border-top: 1px solid #bbbbbb69;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .unidade-container {
        flex-direction: column;
        padding: 20px;
        gap: 0;
    }

    .foto-principal {
        width: 100%;
        height: auto;
    }

    .miniaturas {
        justify-content: center;
        flex-wrap: wrap;
    }

    .miniaturas img {
        width: 100px;
        height: 70px;
    }

    .titulo-unidade {
        font-size: 28px;
        text-align: center;
    }

    .diferenciais h2 {
        text-align: center;
        margin-left: 0;
    }

    .diferenciais ul li {
        padding-left: 20px;
        font-size: 18px;
    }

    .info {
        flex-direction: column;
    }

    .mapa iframe {
        width: 100%;
    }

    .listaFooter {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }

    .ulFooter,
    .listaHorarios {
        text-align: center;
    }

    .galeria {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 80px;
        margin-bottom: 40px;
    }
}